default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  host: localhost
  password: password

development:
  <<: *default
  database: depot_dev

test:
  <<: *default
  database: depot_test
