tr.category
  td= link_to category.title, admin_category_path(category.slug)
  td= link_to "Edit", edit_admin_category_path(category.slug)
  td= link_to "Destroy", admin_category_path(category.slug), method: :delete, remote: true, data: { confirm: 'Are you sure?' }
